.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.light {
  background-color: #f0f0f0;
  color: #000;
}

.dark {
  background-color: #333;
  color: #fff;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.content {
  padding: 16px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
}

th {
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
}

td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
}

.table-title{
  font-weight: bold;  
}

.form-submit-button {
  background-color: #05222e;
  color: #fff; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
}

footer {
  background-color: #818181;
  color: white; 
  padding: 20px; 
  text-align: center; 
}

footer img {
  max-width: 100%; 
  height: 25px;
}  